.scene {
  perspective: 600px;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  position: relative;
}

.cardSize {
  width: 83px;
  height: 130px;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cardFront {
  box-shadow: -5px -10px 10px red;
}

.cardBack {
  box-shadow: -5px -10px 10px red;

  transform: rotateY(180deg);
}
