.scene {
  perspective: 600px;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  transform-origin: center;

  position: relative;
}

.cardSize {
  width: 83px;
  height: 130px;
}

.card.is-flipped {
  transform: rotateY(180deg);
  transform-origin: center;
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cardFront {
}

.cardBack {
  transform: rotateY(180deg);
  transform-origin: center;
}
