.deck {
  position: relative;
  margin: 0px;
}

.deckCard {
  position: relative;
  display: inline-block;
  transition: transform 0.2s ease-out, left 0.65s;
}

.selfDeck .deckCard:hover {
  transform: translate(0px, -10px);
  cursor: pointer;
}

.rotate90 {
  transform: rotate(90deg);
}

.playedCardb {
  position: fixed;
  transition: transform 0.5s ease-out;
}

.translateTop {
  transform: translateY(-100px);
}
