.table {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  background-image: url("../assets/tableBackGround.jpg");
}

.topLine {
  display: flex;
  justify-content: flex-start;
  margin-left: 30%;
}

.midLine {
  display: flex;
  height: 40%;
  flex-direction: row;
  justify-content: space-between;
}

.botLine {
  display: flex;
  justify-content: flex-start;
  margin-left: 30%;
  padding-bottom: 10%;
}

.selfDeck {
}

.topDeck {
}

.leftDeck {
  color: whitesmoke;
  display: flex;
  height: 100%;
  width: 30%;
  justify-content: space-around;
  flex-direction: row;
  align-content: center;
}

.rightDeck {
  margin-right: 10%;
}
