.deckv {
  position: relative;
  margin: 0px;
}

.deckh {
  position: relative;
  width: 60%;
  padding: 0px;
  margin: 0px;
}

.deckCard {
  position: relative;
  display: inline-block;
  transition: transform 0.2s ease-out, left 0.65s, top 0.65s;
}

.selfDeck .deckCard:hover {
  transform: translate(0px, -10px);
  cursor: pointer;
}

.rotate90 {
  transform: rotate(90deg);
}

.playableCard {
  position: fixed;
  width: 100px;
  height: 100px;
  transition: left 0.5s ease-out, top 0.5s ease-out, transform 0.5s;
}
.gatterCards {
  top: 20px !important;
  left: 92% !important;
  transform: scale(0.7);
}
